[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
selenium = "*"
pytest-bdd = "*"
pytest-html = "*"
pyshadow = "*"
browserstack-sdk = "*"
playwright = "*"
allure-pytest = "*"

[dev-packages]

[requires]
python_version = "3.11"
